.t{
    width: 100%;
    height: 41px;
    background-color:hsl(358, 66%, 45%);

}
.t h1{
    position: absolute;
    color: white;
    font-size: 30px;
    left: 17%;
    font-weight: bolder;
}
.o{
    display: flex;
    position: absolute;
    width: 100%;
    
}
.o p{
    color: white;
    font-weight: bolder;
}

.c{
    position: absolute;
    top: 8px;
    left: 800px;
}
.a{
    position: absolute;
    top: 8px;
    left: 840px;
}
.b{
    position: absolute;
    top: 8px;
    left: 990px;
}
.d{
    position: absolute;
    top: 8px;
    left: 1140px;
}
.e{
    position: absolute;
    top: 8px;
    left: 1170px;
}
.f{
    position: absolute;
    top: 8px;
    left: 1200px;
}
nav{
    width: 580px;
}
.nav{
    width: 580px;
    background: #F6F6F6;
    position: absolute;
    top: 60px;
    left: 14%;
    border-radius: 21.5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
nav a{
    color: #616060;
}
nav .hovers:hover{
    background-color:hsl(358, 66%, 45%); 
    color: white;
    border-radius: 25px 25px 25px 25px;

   
}
.menu{
    width: 100%;
}
.border{
    border: 1px solid #E5E5E5;
    position: absolute;
width: 1000px;
height: 0px;
left: 215px;
top: 120px;
}
.v{
    position: absolute;
    top: 230px;
    left: 230px;
    
}
.clock{
    position: absolute;
    top: 230px;
    left: 850px;
    width: 200px;
}
 .p1{
   font-weight: bolder;
   position: absolute;
   top: 1px;
   left: 55px;
}
.p2{
    position: absolute;
    top: 25px;
    left: 55px;
    
    font-size: 13px;
}
.map{
    position: absolute;
    top: 230px;
    left: 1050px;
    width: 200px;

}
.p3{
    font-weight: bolder;
    position: absolute;
    top: 1px;
    left: 55px;
}
.p4{
    position: absolute;
    font-size: 13px;
    top: 25px;
    left: 55px;
}

.mask img{
    position: absolute;
    left: 750px;
    width: 768px;
    height: 368px;
    top: 330px;
}
.mask1{
    position: absolute;
    width: 768px;
    height: 368px;
    top: 330px;
    background-color: #F6F6F6;
}
.mask h1{
    color: grey;
    position: absolute;
    top: 550px;
    left: 800px;
    font-size: 22px;
}
.mask p{
    color: grey;
    position: absolute;
    top: 590px;
    left: 800px;
    font-size: 17px;
    width: 400px;
}
.mask1 h1{
    color: rgba(51, 51, 51, 0.77);
    position: absolute;
    top: 40px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight:lighter;
    width: 600px;
}
.mask1 p{
    color: rgba(51, 51, 51, 0.77);
    position: absolute;
    top: 200px;
    font-size: 15px;
    left: 135px;
    width: 450px;

}
.mask1 button{
    height: 50px;
    background-color:hsl(358, 66%, 45%) ;
    font-weight: bold;
    border-radius: 24px;
    position: absolute;
    top: 280px;
    left: 150px;
    width: 300px;
}
.mask1 button:hover{
    background-color: hsl(358, 66%, 45%);
}
.elip{
display: flex;
position: absolute;
top: 770px;
left: 400px;
}
.elip p{
    color: rgba(51, 51, 51, 0.77);
    font-weight: bold;
    position: relative;
    top: 10px;
}
.poli{
    position: relative;
    right: 60px;
}
.rent{
    position: relative;
    right: 30px;
}
.stas{
    position: relative;
    left: 30px;
}
.dnev{
    position: relative;
    left: 60px;
}
.uzi p{
    position: relative;
    left: 50px;
}
.stas p{
    position: relative;
    left: 20px;
}
.st{
    position: relative;
    left: -870px;
    top: 60px;
}
.st1{
    position: relative;
    left: 25px;
    top: 60px;
}
.foot {
    position: absolute;
    top: 1030px;
    height: 250px;
}
.foot img{
    width: 100%;
    height: 250px;
}
.foot1 img{
    width: 500px;
    height:60px;
    position: absolute;
    top: 30px;
    left: 240px;
}
.foot1 {
    
}

.ac{
    position: relative;
    width: 100px;
    height: 100px;
    top: -130px;
    left: 250px;
}
.ac img{
    width: 98px;
    height:69px;
}
.ac p{
    text-align: center;
   position: relative;
   left: -5px;
   color: grey;
}

.ac1{
    position: relative;
    top: -230px;
    left: 400px;
    width: 100px;
}
.ac1 img{
    width: 98px;
    height: 69px;
}
.ac1 p{
    color: grey;
    text-align: center;
}
.par{
    color: grey;
    position: relative;
    top: -360px;
    font-size: 25px;
    left: 550px;
    width: 100px;
    height: 100px;
    
}   
.footer{
    background: #616060;
box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.25);
width: 100%;
height: 120px;
position: absolute;
top: 1280px;
padding: 0;
margin: 0;
}


.footer nav{
    background-color:#616060 ;
    box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 50px;
}
.footer a{
    color: white;
}
.footer a:hover{
    background-color:#616060 ;
}


/* .mask{
    width: 100%;
    position: absolute;
    top: 350px;
    background-color: black; */


/* .mask img{
    width: 765px;
    height: 368px;
    position: absolute;
    left: 765px;
} */
